/* Calendar */
.ui-datepicker {
  width: 100%;
}

table.ui-datepicker-calendar {
  height: 400px;
}

/* Form Field styles */
select#session_type,
select#options_staff_ids_ {
  color: #2697d0;
}

/* Form h1 Heading */
div.healcode .header h1,
#hc-find-appt {
  color: #fff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  line-height: 1.65;
}

/* My Account link */
.action_text.my_account_text {
  color: #fff;
}

/* Search button styles */
#hc-find-appt {
  padding: 1px 20px;
  border-bottom: none;
  border-radius: 0px;
}

/* Appointment Results styles */
span.appointment.button a {
  border-bottom: none;
}

div.healcode.appointments .trainer-label {
  font-size: 20px;
  margin-bottom: 5px;
}
