<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
			<form name="Contact Form" method="POST" netlify-honepot="bot-field" id="contact-form" action="/thank-you/" netlify>
				<!-- Honeypot Field -->
        <p class="hidden">
          <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </p>
				<div class="field first">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" required>
				</div>
				<div class="field half first">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" required>
				</div>
				<div class="field half">
					<label for="phone">Phone</label>
					<input type="tel" name="phone" id="phone" required>
				</div>
				<div class="field">
					<label for="patient-type">New, Current, or Returning Patient?</label>
					<select class="form-control" name="patient-type" id="patient-type" required>
            <option value selected disabled>Select Option...</option>
            <option value="Solana">New Patient</option>
            <option value="Carlsbad">Current Patient</option>
            <option value="Point Loma">Returning Patient</option>
          </select>
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="4" required></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="special"></li>
					<li><input type="reset" value="Clear"></li>
				</ul>
			</form>
		</section>
		<section class="split">
			<section>
				<div class="contact-method">
					<span class="icon alt fa-envelope"></span>
					<h3>Email</h3>
					<a href="mailto:{{ site.data.footer_contact_info.email }}">{{ site.data.footer_contact_info.email }}</a>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-phone"></span>
					<h3>Phone</h3>
					<p>{{ site.data.footer_contact_info.phone }} | Fax: {{ site.data.footer_contact_info.fax }}</p>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3>Address</h3>
					<p>{{ site.data.footer_contact_info.street_address }}<br />
					{{ site.data.footer_contact_info.city }}, {{ site.data.footer_contact_info.state }} {{ site.data.footer_contact_info.zip_code }}<br />
					{{ site.data.footer_contact_info.country }}</p>
					<h3>Yoga Hours</h3>
					<p>Mon - Fri: 8:30:am - 6:30pm<br>
						Sat - Sun: 10:00am - 11:00am</p>
					<h3>Cryo Hours</h3>
					<p>Mon - Thurs: 9:30:am - 6:30pm<br>
						Fri: 9:30am - 4:00pm<br>
						Sun: 9:00am - 2:00pm</p>
				</div>
			</section>
		</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% if site.data.footer_social_info.twitter_url and site.data.footer_social_info.twitter_url != "" %}
				<li><a href="{{ site.data.footer_social_info.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.data.footer_social_info.googleplus_url and site.data.footer_social_info.googleplus_url != "" %}
				<li><a href="{{ site.data.footer_social_info.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
				{% endif %}
				{% if site.data.footer_social_info.facebook_url and site.data.footer_social_info.facebook_url != "" %}
				<li><a href="{{ site.data.footer_social_info.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.data.footer_social_info.instagram_url and site.data.footer_social_info.instagram_url != "" %}
				<li><a href="{{ site.data.footer_social_info.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.data.footer_social_info.yelp_url and site.data.footer_social_info.yelp_url != "" %}
				<li><a href="{{ site.data.footer_social_info.yelp_url }}" class="icon alt fa-yelp" target="_blank"><span class="label">Yelp</span></a></li>
				{% endif %}
			</ul>
			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }} {{ 'now' | date: '%Y' }}</li>
				<li>An Affliliate of <a href="http://www.risephysicaltherapy.com" target="_blank">RISE Physical Therapy</a></li>
				<li>Theme Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a></li>
				<li>Web Development: <a href="https://www.zac-heisey.com" target="_blank">Zac Heisey</a></li>
				<li><a href="{{ site.url }}/sitemap">Sitemap</a></li>
				<li><a href="{{ site.url }}/privacy-policy">Privacy Policy</a></li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
	<script src="{{ site.url }}/assets/js/jquery.scrolly.min.js"></script>
	<script src="{{ site.url }}/assets/js/jquery.scrollex.min.js"></script>
	<script src="{{ site.url }}/assets/js/skel.min.js"></script>
	<script src="{{ site.url }}/assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="{{ site.url }}/assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="{{ site.url }}/assets/js/main.js"></script>
