<!-- Google Tag Manager (noscript)
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TJ93H4V"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "post" or page.layout == "page" %} class="alt"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>

	<!-- Logo & Site Title -->
	<a href="{{ site.url }}/" class="logo">
		<span class="symbol">
			{% if site.logo_image %}
			<img src="{{ site.url }}/{{ site.logo_image }}" alt="RISE Prime Wellness Logo" />
			<strong>{{ site.title }}</strong> <span id="subtitle">{{ site.subtitle }}</span>
			{% else %}
			<strong>{{ site.title }}</strong> <span id="subtitle">{{ site.subtitle }}</span>
		</span>
		{% endif %}
	</a>

	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->

{% include menu.html %}
