<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "product" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>

	<!-- Logo & Site Title -->
	<a href="{{ site.baseurl }}/" class="logo">
		<span class="symbol">
			{% if site.data.site_settings_info.logo_image %}
			<img src="{{ site.baseurl }}/{{ site.data.site_settings_info.logo_image }}" alt="{{ site.data.site_settings_info.title }} Logo" /><strong>{{ site.data.site_settings_info.title }}</strong> <span id="subtitle">{{ site.data.site_settings_info.subtitle }}</span>
			{% else %}
			<strong>{{ site.data.site_settings_info.title }}</strong> <span id="subtitle">{{ site.data.site_settings_info.subtitle }}</span>
		</span>
		{% endif %}
	</a>

	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->

{% include menu.html %}
