<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

  {% include header.html %}

  <!-- Banner -->
  <section id="banner" class="major">
  	<div class="inner">
  	<span class="image">
  		<img src="{{ site.url }}/{{ page.featured-image }}" title="{{ page.seo-title }} | {{ site.title }}" alt="{{ page.seo-title }} featured image" />
  	</span>
  		<header class="major">
  			<h1>{{ page.landing-title }}</h1>
  		</header>
  		<div class="content">
  			<p style="text-transform: uppercase;">{{ page.description }}</p>
  		</div>
      <ul class="actions">
        <li><a href="/yoga" class="button scrolly">View Our Yoga Schedule</a></li>
        <li><a href="https://www.vagaro.com/riseprimewellness/services" class="button special" id="session-btn" target="_blank">Book a Class</a></li>
      </ul>
  	</div>
  </section>

  <!-- Main -->
  <div id="main">

  <!-- One -->
  {% include tiles.html %}

  {{ content }}

  {% include footer.html %}

  </div>

</body>

</html>
